.cat {
    &__title {
        margin: 75px;
    }

    &-wrapper {
        background-image: linear-gradient(to right, #f2f2f2 1005px, #eaeaea 1005px), linear-gradient(to right, #f2f2f2 calc(1440px / 2), #eaeaea 50%);
        padding: 70px 0 75px 0;
    }

    &-description {
        color: $special_dark-grey;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 70px;
    }

    .inner {
        display: grid;
        grid-template-columns: 440px 1fr;
        gap: 130px;
    }

    .cat-parametrs {
        display: grid;
        grid-template-columns: repeat(2, 162px);
        gap: 40px;
    }

    &-parametr-title {
        color: #000;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 37px;
        margin: 0;
    }

    &-parametr {
        position: relative;
        border: 1px solid $special_grey;
        border-radius: 5px;
        padding: 20px 0;
    }

    &-parametr-description {
        position: absolute;
        bottom: -7px;
        margin: 0;
        left: 15px;
        width: 130px;
        text-align: center;
        background-color: $basic-grey;
    }

    &-cost {
        @include flex;
        max-width: 325px;
        margin-top: 55px;
        color: #000;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }

    .slider__images {
        display: flex;
        justify-content: center;
        height: 240px;
    }

    .slider__wrapper {
        margin-top: -220px;
    }

    .slider__image-wrapper {
        display: none;
        transition: .2s ease-in-out;

        &--active {
            display: block;
        }
    }

    .slider__image {
        width: auto;
        height: 100%;
    }

    .slider__buttons {
        @include flex;
        justify-content: center;
    }

    .slider__label {

        color: $black;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .slider__bar {
        height: 6px;
        width: 430px;
        position: absolute;
        border-radius: 6px;
        background: #DCDCDC;
        margin: 0 20px;
    }

    .slider__toggle {
        position: absolute;
        border-radius: 50%;
    }
}