.footer {
    background-color: $basic-grey;
    padding: 60px 0;
    @include flex;
    @media (max-width:$mobile) {
        flex-direction: column;
    }

    &-logo img {
        margin-left: 60px;
        width: 128px;
        height: 24px;
        @media (max-width:$mobile) {
            margin: 0;
        }
    }

    .social-list {
        @include flex;

        .social-item.vk img {
            width: 30px;
            height: 22px;
        }

        .social-item.inst img {
            margin: 0 25px;
            width: 23px;
            height: 23px;
        }

        .social-item.fb img {
            width: 28px;
            height: 33px;
        }
    }
    &-academy img {
        margin-right: 60px;
        width: 163px;
        height: 34px;
        @media (max-width:$mobile) {
            
            margin: 0;
        }
    }
}