.footer {
    background-color: $basic-grey;
    @include flex;

    &-logo img {
        width: 128px;
        height: 24px;
    }

    .social-list {
        @include flex;

        .social-item.vk {
            width: 30px;
            height: 22px;
        }

        .social-item.inst {
            width: 23px;
            height: 23px;
        }

        .social-item.fb {
            width: 28px;
            height: 33px;
        }
    }
    &-academy img {
        width: 163px;
        height: 34px;
    }
}